nav {
  background-color: #11B5E4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  padding: 10px 20px;
  background-color: #1481BA;
  color: white;
  border-radius: 30px;
  margin: 0 5px;
  font-weight: bold;
}
nav a {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
nav a:hover {
  color: cyan;
}
.logo img {
  width: 200px;
  height: 10s0px;
}