body{
    background-color:#034748 ;
    margin: 0;
    font-family:  'Trebuchet MS';
}
nav {
  background-color: #11B5E4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  padding: 10px 20px;
  background-color: #1481BA;
  color: white;
  border-radius: 30px;
  margin: 0 5px;
  font-weight: bold;}
nav a {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
nav a:hover {
  color: cyan;
}
.logo img {
  width: 300px;
  height: 80px;
}
.introduction {
  position: relative; 
  width: 100%;
  height: 100vh; 
  overflow: hidden;
}

.introduction img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textes-intro {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: white;
  text-align: center;
  padding: 0 20px;
}

.textes-intro h1 {
  font-size: 4rem;
  text-shadow: 1px 1px 4px black;
  margin-bottom: 20px;
}

.textes-intro p {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
  text-shadow: 1px 1px 4px black;
}
.section-content {
    width: 1200px;
    margin-top: 20px;
    text-align: center;
    background-color: #0CAADC;
    border-radius: 10px;
    padding: 10px;
}


.section-content h2 {
    text-align: center;
    color: white;
}


.section-content .content {
    display: flex;
    flex-direction: row-reverse; /* Inverse l'ordre des éléments */
    flex-wrap: wrap; /* Permet le retour à la ligne */
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}


.section-content .content img {
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}



.section-content .content p {
    max-width: 600px;
    color: white;
    font-size: 18px;
    padding: 0 10px;
}
.container{
    display: flex;
     flex-direction: column;
    align-items: center;
   
}